<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ttsham6.masu.trainer.mapper.DbMapper">

    <insert id="saveScore">
        INSERT INTO masu_db.score (score_time, created_at, updated_at)
        VALUES (#{scoreTime}, now(),now());
    </insert>

    <select id="getScoresAscByTime" resultType="org.ttsham6.masu.trainer.domain.Score">
        SELECT id, score_time
        FROM masu_db.score
        ORDER BY score_time ASC LIMIT #{limit};
    </select>

</mapper>
